<!DOCTYPE html>
<html>
<head>
  <title>Neil deGrasse Tyson Quote API</title>
  <description>Neil deGrasse Tyson Quote API provides hundreds of programmatically accessible quotes from one of the greatest science communicators of our time.</description>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
